
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    /* prevent padding from adding extra width or height to a page */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* fill 100% of the viewport height */
    min-height: 100vh;
    font-family: Bebas Neue, sans-serif;
    background: rgb(42, 191, 186);
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Loader wait thing */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(42, 191, 186, 0.8);
}

/* center the loader in the screen. without the transform, the top 
    left corner of the image is centered, not the image itself. */
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* image container */
.image-container {
    /* top and bottom 10px, L and R, 30% margin. 40% left for picture */
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
}

/* media query - adjust for handhelds */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .image-container {
        /* 10px margin all around for phones */
        margin: 10px;
    }
}